# ignore python stuff
venv/*
.venv/*
/auto_annotation/models/__pycache__/
*.cpython-39.pyc

# ignore pycharm files
.idea/*

# ignore secret data
.credentials

# ignore data
data_cvat/
data_balldetection/
data_segmentation/
ball_detection_nao/models/