# ignore python stuff
venv_tf/
venv_pytorch/
__pycache__/
venv/

# ignore local data
mlruns/
runs/
data/
patch_detection/data/
patch_detection/models/
.DS_Store

# ignore secrets
.env
.envrc

# ignore config settings
.vscode/

# ignore mlflow/ultralytics stuff
runs/
*.jpg
labelstudio/tools/env.sh
nao-balldetection/config.toml
*.pkl
*.h5
*.json
*.v2
nao-balldetection/plots.py
nao-balldetection/pyproject.toml
nao-balldetection/test.sh
nao-balldetection/uv.lock
patchGeneration_GO26/env.sh
nao-balldetection/pyproject.toml
nao-balldetection/test.sh
nao-balldetection/uv.lock
