# ignore python stuff
venv_tf/
venv_pytorch/
__pycache__/
venv/

# ignore local data
mlruns/
runs/
data/
patch_detection/data/
patch_detection/models/

# ignore secrets
.env
.envrc

# ignore config settings
.vscode/

# ignore mlflow/ultralytics stuff
runs/